:root {
	/* colors */
	--cl-white: #fff;
	--cl-black: #000;

	/* fonts family */
	--ff-gigantic: "Gigantic FS", sans-serif;
	--ff-poppins: "Poppins", sans-serif;

	/* fonts size */
	--fs-240: 24rem;
}
