.header {
	width: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	color: var(--cl-white);
	font-family: var(--ff-gigantic);
	font-size: clamp(1.4rem, 2.3vw, 3.2rem);
	padding-top: clamp(1.5rem, 1.6vw, 3rem);
	z-index: 99;
}
